.div-main-form{
    display: grid;
    margin: 137px auto;
}

.div-main-form form{
    display: grid;
}

.div-main-form h1{
    text-align: center;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
}

.div-main-form .div-grid-form{
    display: grid;
    grid-template-columns: auto auto;
    margin-top: 50px;
}

.div-main-form .div-grid-form input{
    margin: 15px;
    font-size: 25px;
    padding: 5px 5px 5px 10px;
    border-radius: 5px;
    border-width: 1px;
}

.div-main-form .button-submit-form{
    width: 200px;
    height: 70px;
    margin: 40px auto;
    font-size: 25px;
    padding: 10px;
    border-radius: 5px;
    border-style: none;
    background-color: #9200CC;
    color: white;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
    transition: 300ms;
}

.div-main-form .div-form-error{
    display: flex;
    margin: auto;
}

.div-main-form .div-form-error .form-error{
    position: absolute;
    margin-left: -120px;
    color: #ff0000;
}

.div-main-form .button-submit-form:active{
    box-shadow: 0px 0px 0px;
}

@media screen and (max-width: 950px) {

    .div-main-form .div-grid-form{
        grid-template-columns: auto;
    }
}

@media screen and (max-width: 500px) {

    .div-main-form h1{
        font-size: 31px;
        width: 300px;
    }

    .div-main-form .div-grid-form input{
        font-size: 20px;
        padding: 5px 5px 5px 10px;
    }

    .div-main-form button{
        width: 100px;
        height: 50px;
        font-size: 20px;
    }
    
}


@media screen and (max-width: 375px) {

    .div-main-form h1{
        font-size: 31px;
        max-width: 340px;
    }

    .div-main-form .div-grid-form input{
        font-size: 20px;
        padding: 5px 5px 5px 10px;
    }

    .div-main-form button{
        width: 100px;
        height: 50px;
        font-size: 20px;
    }
    
}

